// mixins

$font-family: 'Inter', sans-serif;

@mixin font($weight, $size, $line-height, $letter-spacing) {
  font-family: $font-family;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: #ffffff;
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin iPhone14Pro {
  @media (min-width: 392px) and (max-width: 500px) {
    @content;
  }
}

@mixin iPhone12 {
  @media (min-width: 377px) and (max-width: 391px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 376px) {
    @content;
  }
}

//

* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  @include font(600, 40px, 48.41px, 0.03em);
  margin: 0;
}

h2 {
  @include font(600, 36px, 43.57px, 0);
  margin: 0;
}

body {
  position: relative;
  min-height: 100%;
  width: 100vw;
}

.wrapper {
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__prize {
  display: flex;
  flex-direction: column;
  margin-top: 49px;
  margin-right: 35px;
}

.header__prize-text {
  @include font(600, 24px, 29.05px, 0);
  text-align: center;
}

.logo__image {
  margin-top: 42px;
  margin-left: 40px;
}

.main__wrapper {
  margin-top: 120px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.section__description {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__description-subtext {
  color: #ffffff;
}

.section__desctription-logo-mobile {
  display: none;
}

.section__description-button-wrapper-mobile {
  display: none;
}

.section__description-smalltext {
  margin-top: 15px;
  margin-bottom: 25px;
  color: #ffffff;
  @include font(400, 22px, 26.63px, 0);
}

.section__description-button-wrapper {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: left;
}

.section__description-button {
  width: 147px;
  height: 46px;
  color: #24094e !important;
  background-color: #fff6ff;
  border: 1px solid #df84f9;
  border-radius: 8px;
  cursor: pointer;
  @include font(700, 16px, 19.36px, 0);
  filter: drop-shadow(0 0 5px #df84f9) drop-shadow(0 0 5px #df84f9);
  transition: 0.5s;
}

.section__description-button:hover {
  color: #fff6ff !important;
  background-color: #df84f9;
  filter: drop-shadow(0 0 5px #df84f9) drop-shadow(0 0 5px #df84f9);
}

.section__description-info {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  color: #ffffff;
}

.section__description-info-lefttext {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  @include font(600, 20px, 24.2px, 0);
}

.section__description-info-centertext {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  @include font(600, 20px, 24.2px, 0);
}

.section__description-info-righttext {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 14px;
  @include font(600, 20px, 24.2px, 0);
}

.section__description-info-date {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.section__description-info-day {
  width: 35px;
  height: 23px;
}

.section__description-info-event {
  display: flex;
}

.section__description-info-divider {
  margin: 0 10px;
}

.section__description-info-month {
  @include font(700, 18px, 21.78px, 0);
  text-align: center;
}

.section__image-wrapper {
  display: flex;
  width: 60%;
}

.section__information-mobile {
  display: none;
}

.footer {
  @include font(400, 18px, 21.78px, 0);
  color: #45cff1 !important;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 40px;
  gap: 10px;
  text-shadow: 0 0 5px #df84f9, 0 0 2px #df84f9;
}

.image__cherry {
  position: absolute;
  top: 12%;
  left: 39.6%;
  animation: reverseBellSwing 2s ease-in-out infinite alternate;
}

.image__clover {
  position: absolute;
  top: 85%;
  left: 37.8%;
  animation: bellSwing 2s ease-in-out infinite alternate;
}

.image__fruit {
  position: absolute;
  top: 90.8%;
  left: 72.3%;
  animation: bellSwing 2s ease-in-out infinite alternate;
}

.image__horseshoe {
  position: absolute;
  top: 39.5%;
  left: 91.7%;
  animation: bellSwing 2s ease-in-out infinite alternate;
}

.image__moneybag {
  position: absolute;
  top: 21.2%;
  left: 26%;
  animation: moneybagSwing 2s ease-in-out infinite alternate;
}

.image__plum {
  position: absolute;
  top: 59.1%;
  left: 92.9%;
  animation: bellSwing 2s ease-in-out infinite alternate;
}

.image__seven {
  position: absolute;
  top: 11%;
  left: 70.9%;
  animation: reverseBellSwing 2s ease-in-out infinite alternate;
}

.image__strawberry {
  position: absolute;
  top: 8.8%;
  left: 53.6%;
  animation: reverseBellSwing 2s ease-in-out infinite alternate;
}

.image__watermelon {
  position: absolute;
  top: 90.1%;
  left: 55.6%;
  animation: reverseBellSwing 2s ease-in-out infinite alternate;
}

.image__lemon {
  position: absolute;
  top: 85%;
  left: 87.3%;
  animation: reverseBellSwing 2s ease-in-out infinite alternate;
}

.image__cherry-mobile {
  display: none;
}

.image__clover-mobile {
  display: none;
}

.image__fruit-mobile {
  display: none;
}

.image__horseshoe-mobile {
  display: none;
}

.image__lemon-mobile {
  display: none;
}

.image__moneybag-mobile {
  display: none;
}

.image__seven-mobile {
  display: none;
}

.image__strawberry-mobile {
  display: none;
}

.image__watermelon1-mobile {
  display: none;
}

.image__watermelon2-mobile {
  display: none;
}

@include tablet {
  .wrapper {
    overflow: hidden;
  }
}

@include mobile {
  .wrapper {
    background: url('./assets/mobile/background_mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
  }

  .logo__image {
    content: url('./assets/mobile/grand_bellagio_logo_mobile.svg');
    width: 91px;
    height: 39px;
    margin-top: 15px;
    margin-left: 15px;
  }

  .header__prize {
    display: none;
  }

  .main__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
  }

  .section__description {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }

  .section__description-image-mobile {
    width: 104px;
    height: 48px;
  }

  .section__description-subtext {
    width: 230px;
    height: 39px;
  }

  .section__desctription-logo-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 325px;
  }

  .section__desctription-logo-text-mobile {
    @include font(600, 18px, 21.78px, 0);
    text-align: center;
  }

  .section__desctription-logo-image-mobile {
    width: 149px;
    height: 40px;
  }

  .section__description-smalltext {
    display: none;
  }

  .section__description-button {
    display: none;
  }

  .section__description-info {
    display: none;
  }

  .section__image-wrapper {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .section__image {
    animation: none;
    opacity: 1;
    width: 370px;
    height: 194px;
  }

  .section__information-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include font(400, 16px, 19.36px, 0);
  }

  .section__description-smalltext-mobile {
    margin-top: 15px;
    margin-bottom: 30px;
    color: #ffffff;
    @include font(400, 16px, 19.36px, 0);
    //width: 80%;
    text-align: center;
  }

  .section__description-button-wrapper-mobile {
    display: flex;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .section__description-button-mobile {
    width: 147px;
    height: 46px;
    color: #24094e !important;
    background-color: #fff6ff;
    border: 1px solid #df84f9;
    border-radius: 8px;
    cursor: pointer;
    @include font(700, 16px, 19.36px, 0);
    filter: drop-shadow(0 0 5px #df84f9) drop-shadow(0 0 5px #df84f9);
    transition: 0.5s;
  }

  .section__description-button-mobile:hover {
    color: #fff6ff !important;
    background-color: #df84f9;
    filter: drop-shadow(0 0 5px #df84f9) drop-shadow(0 0 5px #df84f9);
  }

  .section__description-info-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    color: #ffffff;
  }

  .section__description-info-lefttext-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    @include font(600, 16px, 19.36px, 0);
  }

  .section__description-info-centertext-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    @include font(600, 16px, 19.36px, 0);
  }

  .section__description-info-righttext-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 7px;
    @include font(600, 16px, 19.36px, 0);
  }

  .section__description-info-date-mobile {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .section__description-info-day-mobile {
    width: 18px;
    height: 12px;
  }

  .section__description-info-event-mobile {
    display: flex;
  }

  .section__description-info-divider-mobile {
    margin: 0 7px;
  }

  .section__description-info-month-mobile {
    @include font(700, 12px, 14.52px, 0);
    text-align: center;
  }

  .footer {
    @include font(400, 16px, 19.36px, 0);
    color: #45cff1 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    text-align: center;
    gap: 10px;
    text-shadow: 0 0 2px #df84f9, 0 0 2px #df84f9;
  }

  .image__cherry-mobile {
    display: block;
    position: absolute;
    top: 23.5%;
    left: 81.6%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__clover-mobile {
    display: block;
    position: absolute;
    top: 62.7%;
    left: 7%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__fruit-mobile {
    display: block;
    position: absolute;
    top: 84.4%;
    left: 80%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__horseshoe-mobile {
    display: block;
    position: absolute;
    top: 10.9%;
    left: 8.2%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__lemon-mobile {
    display: block;
    position: absolute;
    top: 12%;
    left: 78.9%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__moneybag-mobile {
    display: block;
    position: absolute;
    top: 23.7%;
    left: 4.2%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__seven-mobile {
    display: block;
    position: absolute;
    top: 50%;
    left: 84.1%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__strawberry-mobile {
    display: block;
    position: absolute;
    top: 67.3%;
    left: 79.7%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__watermelon1-mobile {
    display: block;
    position: absolute;
    top: 82.6%;
    left: 8.3%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__watermelon2-mobile {
    display: block;
    position: absolute;
    top: 41%;
    left: 14%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__cherry {
    display: none;
  }

  .image__clover {
    display: none;
  }

  .image__fruit {
    display: none;
  }

  .image__horseshoe {
    display: none;
  }

  .image__moneybag {
    display: none;
  }

  .image__plum {
    display: none;
  }

  .image__seven {
    display: none;
  }

  .image__strawberry {
    display: none;
  }

  .image__watermelon {
    display: none;
  }

  .image__lemon {
    display: none;
  }
}

@include iPhone14Pro {
  .wrapper {
    background: url('./assets/mobile/background_mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
  }

  .logo__image {
    content: url('./assets/mobile/grand_bellagio_logo_mobile.svg');
    width: 91px;
    height: 39px;
    margin-top: 15px;
    margin-left: 15px;
  }

  .header__prize {
    display: none;
  }

  .main__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
  }

  .section__description {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }

  .section__description-image-mobile {
    width: 104px;
    height: 48px;
  }

  .section__description-subtext {
    width: 230px;
    height: 39px;
  }

  .section__desctription-logo-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
  }

  .section__desctription-logo-text-mobile {
    @include font(600, 18px, 21.78px, 0);
    text-align: center;
  }

  .section__desctription-logo-image-mobile {
    width: 149px;
    height: 40px;
  }

  .section__description-smalltext {
    display: none;
  }

  .section__description-button {
    display: none;
  }

  .section__description-info {
    display: none;
  }

  .section__image-wrapper {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .section__image {
    animation: none;
    opacity: 1;
    width: 370px;
    height: 194px;
  }

  .section__information-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    @include font(400, 16px, 19.36px, 0);
  }

  .section__description-smalltext-mobile {
    margin-top: 15px;
    margin-bottom: 30px;
    color: #ffffff;
    @include font(400, 16px, 19.36px, 0);
    //width: 80%;
    text-align: center;
  }

  .section__description-button-wrapper-mobile {
    display: flex;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .section__description-button-mobile {
    width: 135px;
    height: 38px;
    color: #24094e !important;
    background-color: #fff6ff;
    border: 1px solid #df84f9;
    border-radius: 8px;
    cursor: pointer;
    @include font(700, 16px, 19.36px, 0);
    filter: drop-shadow(0 0 5px #df84f9) drop-shadow(0 0 5px #df84f9);
    transition: 0.5s;
  }

  .section__description-button-mobile:hover {
    color: #fff6ff !important;
    background-color: #df84f9;
    filter: drop-shadow(0 0 5px #df84f9) drop-shadow(0 0 5px #df84f9);
  }

  .section__description-info-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    color: #ffffff;
  }

  .section__description-info-lefttext-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    @include font(600, 16px, 19.36px, 0);
  }

  .section__description-info-centertext-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    @include font(600, 16px, 19.36px, 0);
  }

  .section__description-info-righttext-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 7px;
    @include font(600, 16px, 19.36px, 0);
  }

  .section__description-info-date-mobile {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .section__description-info-day-mobile {
    width: 18px;
    height: 12px;
  }

  .section__description-info-event-mobile {
    display: flex;
  }

  .section__description-info-divider-mobile {
    margin: 0 7px;
  }

  .section__description-info-month-mobile {
    @include font(700, 12px, 14.52px, 0);
    text-align: center;
  }

  .footer {
    @include font(400, 16px, 19.36px, 0);
    color: #45cff1 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    text-align: center;
    gap: 10px;
    text-shadow: 0 0 2px #df84f9, 0 0 2px #df84f9;
  }

  .image__cherry-mobile {
    display: block;
    position: absolute;
    top: 23.5%;
    left: 84.6%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__clover-mobile {
    display: block;
    position: absolute;
    top: 62.7%;
    left: 7%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__fruit-mobile {
    display: block;
    position: absolute;
    top: 84.4%;
    left: 80%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__horseshoe-mobile {
    display: block;
    position: absolute;
    top: 10.9%;
    left: 8.2%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__lemon-mobile {
    display: block;
    position: absolute;
    top: 12%;
    left: 78.9%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__moneybag-mobile {
    display: block;
    position: absolute;
    top: 23.7%;
    left: 4.2%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__seven-mobile {
    display: block;
    position: absolute;
    top: 50%;
    left: 86.1%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__strawberry-mobile {
    display: block;
    position: absolute;
    top: 67.3%;
    left: 82.7%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__watermelon1-mobile {
    display: block;
    position: absolute;
    top: 82.6%;
    left: 15.3%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__watermelon2-mobile {
    display: block;
    position: absolute;
    top: 41%;
    left: 14%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__cherry {
    display: none;
  }

  .image__clover {
    display: none;
  }

  .image__fruit {
    display: none;
  }

  .image__horseshoe {
    display: none;
  }

  .image__moneybag {
    display: none;
  }

  .image__plum {
    display: none;
  }

  .image__seven {
    display: none;
  }

  .image__strawberry {
    display: none;
  }

  .image__watermelon {
    display: none;
  }

  .image__lemon {
    display: none;
  }
}

@include iPhone12 {
  .wrapper {
    background: url('./assets/mobile/background_mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
  }

  .logo__image {
    content: url('./assets/mobile/grand_bellagio_logo_mobile.svg');
    width: 91px;
    height: 39px;
    margin-top: 15px;
    margin-left: 15px;
  }

  .header__prize {
    display: none;
  }

  .main__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
  }

  .section__description {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }

  .section__description-image-mobile {
    width: 104px;
    height: 48px;
  }

  .section__description-subtext {
    width: 230px;
    height: 39px;
  }

  .section__desctription-logo-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 335px;
  }

  .section__desctription-logo-text-mobile {
    @include font(600, 18px, 21.78px, 0);
    text-align: center;
  }

  .section__desctription-logo-image-mobile {
    width: 149px;
    height: 40px;
  }

  .section__description-smalltext {
    display: none;
  }

  .section__description-button {
    display: none;
  }

  .section__description-info {
    display: none;
  }

  .section__image-wrapper {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .section__image {
    animation: none;
    opacity: 1;
    width: 370px;
    height: 194px;
  }

  .section__information-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    @include font(400, 16px, 19.36px, 0);
  }

  .section__description-smalltext-mobile {
    margin-top: 15px;
    margin-bottom: 30px;
    color: #ffffff;
    @include font(400, 16px, 19.36px, 0);
    //width: 80%;
    text-align: center;
  }

  .section__description-button-wrapper-mobile {
    display: flex;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .section__description-button-mobile {
    width: 135px;
    height: 38px;
    color: #24094e !important;
    background-color: #fff6ff;
    border: 1px solid #df84f9;
    border-radius: 8px;
    cursor: pointer;
    @include font(700, 16px, 19.36px, 0);
    filter: drop-shadow(0 0 5px #df84f9) drop-shadow(0 0 5px #df84f9);
    transition: 0.5s;
  }

  .section__description-button-mobile:hover {
    color: #fff6ff !important;
    background-color: #df84f9;
    filter: drop-shadow(0 0 5px #df84f9) drop-shadow(0 0 5px #df84f9);
  }

  .section__description-info-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    color: #ffffff;
  }

  .section__description-info-lefttext-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    @include font(600, 16px, 19.36px, 0);
  }

  .section__description-info-centertext-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    @include font(600, 16px, 19.36px, 0);
  }

  .section__description-info-righttext-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 7px;
    @include font(600, 16px, 19.36px, 0);
  }

  .section__description-info-date-mobile {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .section__description-info-day-mobile {
    width: 18px;
    height: 12px;
  }

  .section__description-info-event-mobile {
    display: flex;
  }

  .section__description-info-divider-mobile {
    margin: 0 7px;
  }

  .section__description-info-month-mobile {
    @include font(700, 12px, 14.52px, 0);
    text-align: center;
  }

  .footer {
    @include font(400, 16px, 19.36px, 0);
    color: #45cff1 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
    gap: 10px;
    text-shadow: 0 0 2px #df84f9, 0 0 2px #df84f9;
  }

  .image__cherry-mobile {
    display: block;
    position: absolute;
    top: 25.5%;
    left: 81.6%;
    animation: reverseBellSwing 2s ease-in-out infinite alternate; /* Анимация "колокольчика" */
  }

  .image__clover-mobile {
    display: block;
    position: absolute;
    top: 64.7%;
    left: 7%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__fruit-mobile {
    display: block;
    position: absolute;
    top: 83.4%;
    left: 80%;
    animation: reverseBellSwing 2s ease-in-out infinite alternate;
  }

  .image__horseshoe-mobile {
    display: block;
    position: absolute;
    top: 10.9%;
    left: 8.2%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__lemon-mobile {
    display: block;
    position: absolute;
    top: 9%;
    left: 78.9%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__moneybag-mobile {
    display: block;
    position: absolute;
    top: 23.7%;
    left: 4.2%;
    animation: bellSwing 2s ease-in-out infinite alternate;
  }

  .image__seven-mobile {
    display: block;
    position: absolute;
    top: 52%;
    left: 85.1%;
    animation: reverseBellSwing 2s ease-in-out infinite alternate;
  }

  .image__strawberry-mobile {
    display: block;
    position: absolute;
    top: 67.3%;
    left: 78.7%;
    animation: reverseBellSwing 2s ease-in-out infinite alternate;
  }

  .image__watermelon1-mobile {
    display: block;
    position: absolute;
    top: 83.6%;
    left: 10.3%;
    animation: reverseBellSwing 2s ease-in-out infinite alternate;
  }

  .image__watermelon2-mobile {
    display: block;
    position: absolute;
    top: 43%;
    left: 5%;
    animation: reverseBellSwing 2s ease-in-out infinite alternate;
  }

  .image__cherry {
    display: none;
  }

  .image__clover {
    display: none;
  }

  .image__fruit {
    display: none;
  }

  .image__horseshoe {
    display: none;
  }

  .image__moneybag {
    display: none;
  }

  .image__plum {
    display: none;
  }

  .image__seven {
    display: none;
  }

  .image__strawberry {
    display: none;
  }

  .image__watermelon {
    display: none;
  }

  .image__lemon {
    display: none;
  }
}

//............... keyframes ..............//

@keyframes bellSwing {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-40deg);
  }
}

@keyframes reverseBellSwing {
  0% {
    transform: rotateZ(-40deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes moneybagSwing {
  0% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
